.content-wrapper {
	background: #f5f7ff;
	padding: 2.375rem 2.375rem;
	width: 100%;
}

.card-people {
	position: relative;
	padding-top: 20px;
}

.card-people img {
	border-radius: 20px;
	width: 100%;
}

.grid-margin {
	margin-bottom: 2.5rem;
}

.card-people .weather-info {
	position: absolute;
	top: 30px;
	right: 24px;
}

.card-people .weather-info sup {
	font-size: 18px;
}

.card-title {
	color: #010101;
	margin-bottom: 1.2rem;
	text-transform: capitalize;
	font-size: 1.125rem;
	font-weight: 600;
}

.bold {
	font-weight: 600;
	font-size: 0.800rem;
	margin-bottom: .5rem;
	line-height: 1.3rem;
}

.thdiv {
	margin-top: 10px;
	margin-right: 40px;
}

.value {
	font-size: 30px;
	font-weight: 600;
	color: #4b49ac !important;
}

.card {
	border-radius: 20px;
	border: none;
}

.data-icon-card-primary {
	background-color: #4b49ac;
	color: #ffffff;
}

.data-icon-card-primarys {
	background-color: #7da0fa;
	color: #ffffff;
}
.reward-card {
	border-radius: 12px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	color: #ffffff;
	background: #fff;
	border: none;
	margin-bottom: 20px;
	min-height: 30vh;
}
.achiever-card {
	border-radius: 12px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	color: #ffffff;
	background: #fff;
	border: none;
	margin-bottom: 20px;
	min-height: 30vh;
}
.achiever-top {
	background: cadetblue;
	color: #000;
	/* padding: 10px; */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.achiever-footer {
	padding: 20px;
	display: flex;
	justify-content: center;
}
